.img-upload-dialog {
    padding: 0 0 2rem 0;
}

.img-upload-dialog header {
    margin-top: 0;
}

#img-preview-container {
    display: flex;
    justify-content: center;
}

#image-preview {
    width: 50%;
}

