.post-container {
    background-color: #597199;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 10px;
}

.post-container h3 {
    margin-top: 0;
}

.post-date {
    font-style: italic;
    margin: 0;
}

.post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}