li {
  list-style: none;
}

#welcome-message {
  margin-left: 1rem;
}

#user-interface {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#activity-users-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  gap: 2.6rem;
}
