.comment-card-container {
    background-color: #2E4682;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.author {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: underline;
    text-align: left !important;
}

.comment{
    font-style: normal !important;
    text-align: left !important;
    font-weight: 350;
    padding-bottom: 0.5rem;
    color: white;
}

.date-time {
    text-align: right;
    width: 100%;
}

